

@media only screen and (min-width: 576px) and (max-width: 968px) {
    .slider-wrapper {
        .carousel {
            .carousel-indicators{
                top: 75% !important;
            }
            .carousel-inner {
                .carousel-item {
                    .movie-wrap {
                        left: 7% !important;
                        h6 {
                            font-size: 1rem;
                        }
                        h2 {
                            font-size: 3rem !important;
                        }
                        #description {
                            font-size: 0.9rem !important;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .slider-wrapper {
        .carousel {
            .carousel-indicators{
                top: 75% !important;
            }
            .carousel-inner {
                .carousel-item {
                    .movie-wrap {
                        h6 {
                            font-size: 1rem;
                        }
                        h2 {
                            font-size: 3rem !important;
                        }
                        #description {
                            display: none;
                        }
                        .movie-info {
                            #movie-date{
                                display: block !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .header-wrapper{
        .top-nav{
            .links{
                display: none;
            }
            .user-options{
                display: none;
            }
            .icon{
                display: flex !important;
            }
        }
    }
}