// .slider-wrapper{
//     .carousel{
//         .carousel-inner{
//             .carousel-item{
//                 .overlay{
//                     .watch-now{
//                         @media (max-width: 576px) {
//                             left: 0;
//                             background: lightblue;
//                         }
//                     }
//                 }

//                 .movie-wrap{
//                     @media only screen and (min-width: 576px) and (max-width: 968px) {
//                         h6{
//                             font-size: 1rem;
//                         }
//                         h2{
//                             font-size: 3rem;
//                         }
//                     }
//                     @media only screen and (max-width: 576px) {
//                         left: 0;
//                         h6{
//                             font-size: 1rem;
//                         }
//                         h2{
//                             font-size: 2rem;
//                         }

//                     }
//                 }
//             }
//         }
//     }
// }
// #description{
//     display: none;
// }

@media only screen and (min-width: 576px) and (max-width: 968px) {
    .slider-wrapper{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .movie-wrap{
                        left: 0% !important;
                        h6 {
                            font-size: 1rem;
                        }
                        h2 {
                            font-size: 3rem !important;
                        }
                        #description{
                            font-size: 0.9rem !important;
                        }
                    }
                }
                .overlay{
                    .watch-now{
                        top: 70% !important;
                        left: 0% !important;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .slider-wrapper{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .movie-wrap{
                        h6 {
                            font-size: 1rem;
                        }
                        h2 {
                            font-size: 1.5rem !important;
                        }
                        #description{
                            display: none;
                        }
                    }
                    .movie-info{
                        
                    }
                }
                .overlay{
                    .watch-now{
                        top: 75% !important;
                        left: 0% !important;
                    }
                }
            }
        }
    }
}