.login-wrapper{
    .page-head{
        position: relative;
        padding: 0;
        height: 400px;
        
        .overlay {
            .cont{
                position: absolute;
                bottom: 40%;
                left: 15%;
                color: #fff;
                h2{
                    font-size: 3rem;
                    font-weight: bolder;
                    span{
                        color: red;
                    }
                }
                p{
                    font-weight: bold;
                }
            }
        }
    }
    
    .login-wrap{
        height: 600px;
        .container{
            height: 100%;
            .row{
                height: 100%;
            }
        }
        h5{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            a{
                color: #000;
                font-weight: 600;
            }
        }
        .l-side{
            height: fit-content;
            label{
                display: block;
                font-weight: bold;
                margin-top: 15px;
            }
            input{
                width: 100%;
                height: 70px;
                padding: 8px 15px;
                font-weight: bold;
            }
            button{
                width: 100%;
                height: 60px;
                font-weight: bold;
                color: #fff;
                background: red;
                border: none;
            }
            .rem_lost{
                display: block;
                input{
                    width: 18px;
                    height: 18px;
                    float: left;
                    border: none;
                    background: #a8a8a8;
                    margin-right: 5px;
                }
                label{
                    padding-left: 10px;
                }
            }
            #lost_pass{
                color: #000;
                font-weight: bold;
            }
        }
        .r-side{
            height: fit-content;
        }
    }
}