.header-wrapper {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 999;
    padding: 20px;
    .top-nav {
        display: flex;
        .logo{
            img {
                width: 50px;
                height: 50px;

                &:hover{
                    animation: logoShake 0.7s infinite;
                }
            }
        }

        .links {
            width: fit-content;
            height: fit-content;
            text-align: center;
            padding-top: 10px;
            margin: 0 auto;
            ul {
                width: fit-content;
                margin: 0;
                li {
                    display: inline-block;
                    text-transform: uppercase;
                    padding: 5px 15px;
                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: bold;
                        &:hover {
                            color: rgb(233, 1, 1);
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
        .user-options {
            width: fit-content;
            height: fit-content;
            color: white;
            padding-top: 12px;
            ul {
                li {
                    display: inline-block;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 2px 8px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: bold;
                    }
                    &:hover {
                        a {
                            color: rgb(233, 1, 1);
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
        .icon {
            width: 30px;
            height: 20px;
            display: none;
            color: white;
            font-size: 1.75rem;
            position: absolute;
            right: 1rem;
            outline: none;
            text-decoration: none;
        }
    }
}

@keyframes logoShake {
    25% {
        transform: scale(1.1, 1.1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    75% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
